<h1 style="text-align: center; margin-top: 12%;">Tiendas La Generica</h1>
<h2 style="text-align: center;">Iniciar sesión</h2>
<div class="formulario" style="margin-top: 30px;">
    <form>
        <div class="alert alert-danger">
            Usuario y/o contraseña incorrectos
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" formControlName="usuario">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="d-flex justify-content-center" style="text-align:center; margin-top: 30px;">
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <button class="btn btn-primary" type="reset">Cancelar</button>
        </div>
    </form>
</div>